.body {
  font-family: "Space Mono", "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #fff;
  background-color: #2b2b2b;
  ;
}

/* Мобильная версия */
@media (max-width: 576px) {
  .navbar {
    padding: 15px 30px;
  }
}

/* Планшет */
@media (min-width: 577px) and (max-width: 991px) {
  .navbar {
    padding: 15px 50px;

  }
}

/* Десктоп */
@media (min-width: 992px) {
  .navbar {
    padding: 20px 50px;

  }
}