:root {
  --font-family: "Space Mono", sans-serif;
  --second-family: "Work Sans", sans-serif;
  --text: #fff;
  --bg-color: #2b2b2b;
  --second-bg-color: #b9b9b9;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: var(--text);

}